<h1>Choose a game</h1>

<table>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to(game.name, {:action => 'show', :id => game.id}, :class => 'back-link') %></td>
    </tr>
  <% end %>
</table>