<h1>Players</h1>

<ol>
  <% @players.each do |player| %>
    
      <li><%= link_to(player.name, {:controller => 'player', :action => 'edit', :id => player.id}, :class => 'back-link') %></li>
  <% end %>
</ol>

<h1>Gifts</h1>

<table>
<% @gifts.each do |gift| %>
  <tr>
    <td><%=link_to(gift.name, {:controller => 'gift', :action => 'edit', :id => gift.id }, :class =>'action') %></td>
    <td><%= gift.player.name %></td>
  </tr>
  <% end %>
</table>

