<div class="row timer-banner">
  <div class="col-md-4 col-md-offset-5">
    <div class="timer">
      <span class="timer-numbers"><span class="minute">01</span><span class="colon">:</span><span class="second">30</span></span>
        <div class="control">
          <button onclick="timer.start(1000)" class="btn">Start</button> 
          <button onclick="timer.stop()" class="btn">Stop</button> 
          <button onclick="timer.reset(90)" class="btn">Reset</button> 
        </div>
    </div>
  </div>
</div>


<div id="reload"><button class="btn"><a href="/">Check for updates</a></button></div>
<div class="row">
  <div class="container game-tv">
    <div class="col-md-5 player-list">
    <h1>Players</h1>
      <div class="players">
      <ol>
        <% @players.each do |player| %>
          <li><%= link_to(player.name, {:controller => 'player', :action => 'edit', :id => player.id}, :class => (player.turn == true ? "turn" : "")) %></li>
        <% end %>
      </ol>
      </div>
    </div>

    <div class="col-md-7">
      <h1 class="gifts-label">Gifts</h1>
        <div class="gifts">
        <dl>
        <% @gifts.each do |gift| %>
          <div class="one-gift">
            <dt><%=link_to(gift.name, {:controller => 'gift', :action => 'edit', :id => gift.id }, :class =>'action') %></dt>
            <dl id="gift-description-mobile"><%= gift.description %></dl>
            <dl><%= gift.player.name %></dl>
          </div>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
</div>
