<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class = "gift edit">
  <h2>Edit gift</h2>

  <%= form_for(:gift, :url => {:action => 'update', :id => @gift.id}) do |f| %>

  <%= render(:partial => "form", :locals => {:f => f}) %>

  <div class="form buttons btn">
    <%= submit_tag("Edit gift", :class => 'btn') %>
  </div>

  <% end %>
</div>