/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #056839;
}

a.home {
  color: white;
}

.players {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
  -moz-column-gap: 10px;
  column-gap: 10px;
  height: 425px;
}

.players ol {
  padding-left: 0;
  list-style-position: inside;
}

.turn {
  background-color: white;
  padding: 6px;
}

.gifts {
  -webkit-column-count: 6; /* Chrome, Safari, Opera */
  -moz-column-count: 6;
  column-count:         6;
  -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
  -moz-column-gap: 10px;
  column-gap: 10px;
  height: 425px;
}

.timer-numbers {
  font-size: 70px;
  color: white;
}

.control {
  font-size: 16px;
}

.game-list {
  font-size: 20px;
}

.back-link {
  display: inline-block;
  margin-top: 8px;
}

table.gift-list {
  width: 60%;
  font-size: 18px;
  margin-top: 10px;
}

dl {
  margin-bottom: 2px;
}

.one-gift {
    margin-bottom: 15px;
  }

@media (min-width: 780px) {

  .container.game-tv {
    margin: 0 10px;
    font-size: 1.7em;
  }
  .timer-banner, .banner {
    background: #056839;
    padding-bottom: 1em;
    height: 150px;
  }

  h2.banner {
    margin: 0;
    text-align: center;
    padding-top: 45px;
    font-size: 50px;
    color: white;
  }

  .red-bg {
    color: black;
    background: #be2325;
  }

  .white-bg {
    color: #be2325;;
    background-color: white;
  }

  .white-bg h2.banner{
    color: black;
  }

  .player-list {
    background-color: #F9D8D8;
    height: 555px;
    padding-left: 20px;
  }

  #reload{
    display: none;
  }

  #gift-description-mobile {
    display:none;
  }
}

@media (max-width: 680px) {

  body {
    font-size: 16px;
  }

  .timer-banner, .banner {
    display: none;
  }

  .control {
    display: none;
  }

  #reload {
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
  }

  .player-list {
    padding-left: 50px;
  }

  .turn {
    border: 1px solid green;
    padding: 2px;
    background-color: #ccc;
  }

  .gifts {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    column-count:         2;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px;
    column-gap: 10px;
    padding-left: 40px;
  }

  .one-gift {
    border-bottom: 1px solid #ccc;
    max-width: 80%;
  }
}

